$dark: #cde;

mat-spinner {
  margin-top: 128px;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  margin: 16px;
}

h1 {
  text-align: center;
  margin-top: 28px !important;
  font-size: 28px;
}

h2 {
  position: absolute;
  right: 8px;
  top: 0px;
  text-transform: capitalize;
  background-color: $dark;
  color: #fff;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 6px;
}

slideshow {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: justify;
}

.panel {
  display: inline-block;
  width: calc(50vw - 32px);
}

.right {
  text-align: right;
}

@media only screen and (max-width: 480px) {
  .panel {
    width: 320px;
  }

  .right {
    text-align: left;
  }
}
