<mat-card *ngIf="pitch | async as pitch; else spinner">
  <h1>{{ pitch.attributes.name }}</h1>
  <h2>{{ pitch.attributes.sport }}</h2>

  <slideshow
    [imageUrls]="pitch.attributes.images.large"
    [height]="'300px'"
    [backgroundSize]="'contain'"
    [hideOnNoSlides]="true"
    [showArrows]="pitch.attributes.images.large.length > 1"
  ></slideshow>

  <h3>About</h3>
  <p id="about">{{ pitch.attributes.about }}</p>

  <div class="panel">
    <p><b>Format:</b> {{ pitch.attributes.format }}</p>
    <p><b>Surface:</b> {{ pitch.attributes.surface }}</p>
    <p><b>Operator:</b> {{ pitch.attributes.operator }}</p>
    <p><b>Facilities:</b> {{ pitch.attributes.facilities.join(', ') }}</p>
  </div>

  <h3>Prices</h3>
  <p *ngFor="let payment of pitch.attributes.payment">
    {{ payment.key }} {{ payment.value }}
  </p>

  <app-pitch-slots></app-pitch-slots>
</mat-card>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
