$dark: #def;

mat-card {
  width: calc(100% - 32px);
  border-width: 1px;
  padding-top: 16px;
  border-style: solid;
  border-color: $dark;
  box-shadow: 0 1px 0px 0 $dark,
              0 0px 1px 0 $dark,
              0 0px 1px 0 $dark !important;
}

h3 {
  margin: 0px;
}

img {
  border-radius: 4px;
  width: 128px;
  max-width: 25vw;
  display: block;
  margin-bottom: 8px;
}

button {
  width: 128px;
  max-width: 25vw;
}

.left, .right {
  vertical-align: top;
}

.left {
  max-width: 25vw;
  display: inline-block;
  margin-right: 16px;
}

.right {
  max-width: 60vw;
  display: inline-block;
}

@media only screen and (max-width: 480px) {
  img, button {
    width: 86px;
  }

  button {
    padding: 2px 5px;
    font-size: 12px;
  }

  .right {
    max-width: 50vw;
  }
}
