<mat-card>
  <mat-card-content>
    <div class="left">
      <img [src]="pitch.attributes.images.small[0]" *ngIf="pitch.attributes.images" />

      <button mat-raised-button color="primary" (click)="showMore()">Show More</button>
    </div>

    <div class="right">
      <h3>{{ pitch.attributes.name }}</h3>

      <p class="format"><b>Format:</b> {{ pitch.attributes.format }}</p>
      <p class="surface"><b>Surface:</b> {{ pitch.attributes.surface}}</p>
      <p class="operator"><b>Operator:</b> {{ pitch.attributes.operator}}</p>
    </div>
  </mat-card-content>
</mat-card>
