$dark: #def;

ul {
  padding: 0px;
  list-style-type: none;
}

li {
  padding: 15px 5px;
  display: inline-block;
  width: 160px;
  text-align: center;
  margin: 5px;
  border-color: $dark;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0 1px 0px 0 $dark,
              0 0px 1px 0 $dark,
              0 0px 1px 0 $dark !important;
}

li h4 {
  margin: 0px;
}

@media only screen and (max-width: 480px) {
  li {
    width: calc(100% - 24px);
  }
}
