<div *ngIf="slots | async as slots">
  <ul class="availability" *ngIf="slots.length">
    <h3>Availability:</h3>

    <li class="slot" *ngFor="let slot of slots | filterByAvailability">
      <h4>{{ slotStarts(slot.attributes) }}</h4>
      <p class="duration">{{ slotDuration(slot.attributes) }}</p>
      <p class="slots">Slots: <b>{{ slot.attributes.availabilities }}</b></p>
      <b class="price">&pound;{{ slotPrice(slot.attributes) }}</b>
    </li>
  </ul>
</div>
