<mat-card>
  <mat-card-header>
    <mat-card-title>Pitch Search</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Sport</mat-label>
      <mat-select [(ngModel)]="sport">
        <mat-option *ngFor="let sport of sports" [value]="sport">
          {{ sport }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <mat-select [(ngModel)]="city">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="startsdp" placeholder="Starts" [(ngModel)]="starts">
      <mat-datepicker-toggle matSuffix [for]="startsdp"></mat-datepicker-toggle>
      <mat-datepicker #startsdp></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="endsdp" placeholder="Ends" [(ngModel)]="ends">
      <mat-datepicker-toggle matSuffix [for]="endsdp"></mat-datepicker-toggle>
      <mat-datepicker #endsdp></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="fill-width">
      <input matInput type="text" placeholder="Name" (keydown)="searchOnEnter($event)" [(ngModel)]="name">
    </mat-form-field>

    <button mat-raised-button color="primary" class="search-button" (click)="search()">
      <mat-icon>search</mat-icon>

      Search
    </button>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="pitches | async as pitches">
  <mat-card-content>
    <app-pitches [starts]="starts" [ends]="ends" [pitches]="pitches" *ngIf="pitches.length; else noResults"></app-pitches>

    <ng-template #noResults>
      <h3>No Results</h3>
    </ng-template>
  </mat-card-content>
</mat-card>
