mat-card {
  margin: 16px;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field:not(:first-child) {
  margin-left: 16px;
}

mat-form-field:not(:last-child) {
  width: calc(25% - 12px);
}

.fill-width {
  margin-left: 0px !important;
  width: calc(100% - 118px) !important;
}

.search-button {
  margin-left: 16px;
  width: 100px;
  padding-left: 10px;
}
