/* You can add global styles to this file, and also import other style files */

$dark: #cde;

html, body {
  height: calc(100% - 16px);
  background: $dark;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.arrow-container:hover:before {
  opacity: 0 !important;
}
